body {
  font-family: var(--font-primary);
  color: var(--black);
}

.title {
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

a {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  color: var(--black);
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}


.container {
  max-width: 1140px;
}

.section {
  padding: 90px 0;
  scroll-margin-top: 80px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
}

h1, .h1 {
    font-size: calc(1.359375rem + 1.3125vw);
}

